.prices {
  margin-top: 24px;

  .prices__header {
    border-top: 1px solid #d9fff5;
    padding: 16px 24px;
    text-transform: uppercase;
    background-image: linear-gradient(90deg, #f8f8f8 1.39%, #fff 100%);

    h2 {
      font-family: TTLakes, sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #7e7e82;
    }
  }

  .prices__main {
    padding: 16px 0 0 8px;
    @media (min-width: 768px) {
      padding: 16px 24px;
    }

    .prices__thead {
      display: none;
      width: 100%;
      padding: 16px 24px;
      grid-template-columns: 3fr 1fr 2fr;
      font-family: TTLakes, sans-serif;
      color: #7e7e82;
      opacity: 0.72;
      @media(min-width: 768px) {
        display: grid;
      }
    }

    .prices__list {
      width: 100%;
      height: 250px;
      @media (min-width: 768px) {
        height: auto;
        padding: 0 24px;
        background-color: #fff;
        border-radius: 6px;
      }
      .prices-swiper {
        .swiper-wrapper {
          @media (min-width: 768px) {
            display: block;
          }

          .swiper-slide {
            .prices__item {
              height: 200px;
              background-color: #fff;

              border: 1px solid #eaeaea;
              border-radius: 6px;

              @media (min-width: 768px) {
                border-radius: 0;
                background: none;
                border: none;
                border-bottom: 1px solid #eaeaea;
              }

              .prices__item-container {
                height: 168px;
                padding: 16px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 14px;
                font-family: TTLakes, sans-serif;

                & > div:last-of-type {
                  display: flex;
                  justify-content: space-between;

                  button {
                    background-color: #ff3e79;
                    border: none;
                    border-radius: 16px;
                    width: 95px;
                    height: 24px;
                    color: #fff;
                    display: flex;
                    justify-content: space-between;
                    padding: 4px 12px;
                    cursor: pointer;
                    p {
                      text-transform: uppercase;
                      font-size: 12px;
                      line-height: 24px;
                      font-family: TTLakes, sans-serif;
                      font-weight: bold;
                    }

                    transition: all 0.5s ease;
                    &:hover {
                      transform: translateX(-7px) scale(1.1);
                      opacity: 0.9;
                    }
                  }
                }

                .title {
                  padding: 0;
                  margin-top: 0;
                  color: #7e7e82;
                  line-height: 16px;
                  text-align: left;
                  opacity: 0.72;
                  @media (min-width: 768px) {
                    display: none;
                  }
                }
                .body {
                  margin-top: 4px;
                  color: #1b1c21;
                  line-height: 18px;
                }

                @media (min-width: 768px) {
                  display: grid;
                  grid-template-columns: 3fr 1fr 2fr;
                  padding: 16px 0;
                }
              }
              @media (min-width: 768px) {
                height: 64px;
              }
            }

            &:last-of-type {
              .prices__item {
                border: none;
              }
            }
          }
        }
      }
    }
  }
}